/*FONTS SIZE*/
@font_main_size: 1.25em; /* 20px in most browsers*/
/*Line Height used as base unit*/
@base_unit: 1.6em; /* It's close to the goden ration. Moreover 1.6*20 = 32, which divides most screen size */

/*FIXED COLORS*/
@color_warning: #fe0a07;
@color_ok: #01ea07;
@grey_main:#333;
@grey_light:#999;
@grey_lighter:#d0d0d0;
@grey_lightest:#eaeaea;
@grey_dark:#111;

/*Color scheme and main color*/
@color_type: 'op';
@dominant: lighten(#0FAED2, 3%);

@font_main_url: "../fonts/DejaVuSans-ExtraLight.ttf";
@font_alt_url:"../fonts/DejaVuSansCondensed.ttf";
@font_third_url: "../fonts/DejaVuSansCondensed-Oblique.ttf";
