@import '../less/incipit.less';

@font-face{
  font-family: 'unicode0';
  src: url('../fonts/u1f000.ttf');
}

@font-face{
  font-family: 'unicode4';
  src: url('../fonts/u1f400.ttf');
}

/*main color scheme*/
/*colors tests... You can remove it*/
.color_test{
  width: 96px;
  height: 96px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  overflow: visible;
}
.color_test_inner{
  width: 32px;
  height: 32px;
  margin: auto auto;
}
.subdom{
  background: @@subdom;
}
.bg{
  background: @@bg;
}
.subdom2{
  background: @@subdom2;
}
.tonic{
  background: @@tonic;
}
.tonic2{
  background: @@tonic2;
}
.tonic3{
  background: @@tonic3;
}
.color_main{
  background: @dominant;
}
.color_neg{
  background: @dominant_neg;
}
.color_test:hover .color_title{
  display: inline;
  color: @dominant;
  background: @dominant_neg;
}
.color_title{
  display:none;
  font-size: 0.8em;
  position: absolute;
  bottom: -1.6em;
  z-index: 10000;
}
#demo_blog{
  header button{
    float: right;
  }
  a{
    color: @@tonic3;
  }
  > header h1{
    padding: @base_unit/2 @base_unit*2;
    display: inline-block;
    margin: 0;
    font-size: 1em;
    color: @dominant;
    height: @base_unit;
  }
  nav ul{
    display: table;
    width: 100%;
  }
  nav li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  nav .selected a{
    background: @dominant_neg;
    color: @@tonic;
  }
  nav a{
    background: @@bg;
    color: @dominant;
    display: block;
  }
  nav li:hover a{
    color: @dominant_neg;
    text-decoration: none;
  }
  aside{
      padding: 0 0 @base_unit @base_unit;
      h1 {
        color: @@subdom2;
        border-bottom:solid @base_unit/2 @dominant_neg;
        font-size: 1.25em;
        margin: 1.28em 0 0 0;
        line-height: 1.28em;
      }
      ul{
        margin: 0;
        padding: @base_unit/2 @base_unit @base_unit @base_unit;
      }
      li {
        list-style: none;
      }
        li:hover:before {
          content: "";
          position: relative;
          left: -@base_unit;
          border-left: @@tonic solid @base_unit/2;
        }
  }
}
#settings_container{
    width: 320px;
    max-height: 100vh;
    overflow: auto;
    border-left: @base_unit/2 solid @dominant;
    border-top: @base_unit/2 solid @dominant;
}




