@import '../less/styles.less';

@font-face{
  font-family: 'unicode0';
  src: url('../fonts/u1f000.ttf');
}

@font-face{
  font-family: 'unicode4';
  src: url('../fonts/u1f400.ttf');
}

/*main color scheme*/
/*colors tests... You can remove it*/
.color_test{
  width: 96px;
  height: 96px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.color_test_inner{
  width: 32px;
  height: 32px;
  margin: auto auto;
}
.subdom{
  background: @@subdom;
}
.bg{
  background: @@bg;
}
.subdom2{
  background: @@subdom2;
}
.tonic{
  background: @@tonic;
}
.tonic2{
  background: @@tonic2;
}
.tonic3{
  background: @@tonic3;
}
.color_main{
  background: @dominant;
}
.color_neg{
  background: @color_neg;
}
.color_title{
  font-size: 0.8em;
  position: absolute;
  bottom: -1.6em;
}
#demo_blog{
  nav ul{
    display: table;
    width: 100%;
  }
  nav li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: @base_unit*2;
  }
  nav a{
    background: @@bg;
    color: @dominant;
    display: block;
  }
  nav li:hover a{
    border-color: @dominant;
  }
  aside{
      background: @@bg;
  }
}
#settings_container{
    width: 320px;
    overflow: auto;
    border-left: @base_unit/2 solid @dominant;
    border-top: @base_unit/2 solid @dominant;
}




